<ul class="layui-fixbar">
    <!--<li class="layui-icon" lay-type="bar1" style=""></li>-->
    <li class="layui-icon layui-fixbar-top" id="to_top" lay-type="top" style="display: list-item;"></li>
</ul>
<scrip>
    $("#to_top").click(function() {
        $("html,body").animate({scrollTop:0}, 200);
    });
});
</scrip>
<div class="footer">
    <p>
        <span>&copy; 2019</span>
        <span><a href="/" target="_blank">zhuangwei</a></span>
    </p>
    <p><span>人生就是一场旅行</span></p>
</div>
</body>
</html>