/*推送来源*/
.feed-source,.feed-source a {
    color: #999
}
/**显示更多*/
a.toggle-expand,.CardAdFeed-button {
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
    font-size: .9em;
    color: #25bb9b;
}
/*精灵图z-icon*/
i[class^=z-icon-],i[class*=" z-icon-"] {
    display:inline-block;
    *margin-right:.3em;
    line-height:10px;
    vertical-align:0;
    /*注意引用路径*/
    background-image:url(../res/sprites.png);
    background-repeat:no-repeat;
    margin-right:5px
}
.z-icon-x {
    width:8px;
    height:8px;
    background-position:-130px -206px
}
.z-icon-x:hover {
    background-position:-110px -206px
}
.z-icon-comment {
    width:9px;
    height:10px;
    background-position:-28px -22px
}
.z-icon-collect {
    width:7px;
    height:10px;
    background-position:-56px -22px
}
.z-icon-thank {
    width:10px;
    height:10px;
    background-position:-41px -22px
}
.z-icon-share {
    width:11px;
    height:10px;
    background-position:-67px -22px
}
.z-icon-report-o {
    width:10px;
    height:10px;
    background-position:-82px -22px
}
.z-icon-follow {
    width:8px;
    height:9px;
    background-position:-97px -23px
}
.z-icon-fold {
    width:8px;
    height:9px;
    background-position:-135px -22px
}
.feed-title {
    font-size: 15px
}

/*右上角头像图片*/
.Avatar {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #eee
}
/*首页回答头像*/
.suggest-item-inner .zm-item-link-avatar img {
    width: 35px;
    position: absolute
}

.zu-main-feed-con {
    position: relative;
    border-top: 1px solid #ccc
}

a.zu-main-feed-fresh-button {
    display: block;
    background-color: #eff6fa;
    text-align: center;
    margin: 12px 0 2px;
    padding: 4px 10px;
    border-radius: 4px;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none!important;
    cursor: pointer;
    border: 1px solid #cce1ef
}

.zh-profile-card .lower .operation .zg-btn,.zh-profile-card .lower .operation .zg-btn-white,.zh-profile-card .lower .operation button {
    float: right;
    height: 32px;
    margin-top: 8px;
    vertical-align: middle
}
/*查看更多*/
.zg-btn-white.zu-button-more {
    display: block;
    font-size: 13px;
    margin: 20px 0;
    padding: 5px 1px
}
.zg-r3px {
     border-radius: 3px
 }
.zg-btn-white:hover {
    background: #00B091;
}
.zu-button-more.loading {
    cursor: not-allowed
}