#parse("common/header.html")

<div class="content content-nav-base  login-content" style="margin: 0 auto;">
    <div class="login-bg">
        <div class="login-cont w1200">
            <div class="form-box">
                <ul class="layui-tab-title" style="margin-top:10px ">
                    <li class="layui-this"><a href="/login">登陆</a></li>
                    <li><a href="/reg">注册</a></li>
                    <li><a href="/admin/login">管理员登陆</a></li>
                </ul>
                <form class="layui-form" id="log_form" action="/reg/" method="post">
                    <legend>
                        #if($msg)
                        $!{msg}
                        #end
                    </legend>
                    <div class="layui-form-item">
                        <input type="hidden" name="next" value="$!{next}"/>
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-username iphone-icon"></i>
                                <input type="username" name="username" id="username" lay-verify="required" placeholder="请输入登录名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-password iphone-icon"></i>
                                <input id="pswd" type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <div id="slider_log"></div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item login-btn">
                        <div class="layui-input-block">
                            <button class="layui-btn js-logBtn" type="submit" lay-submit=""
                                    onclick="form=document.getElementById('log_form');form.action='/login/'">登陆</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../js/reglogin.js"></script>
#parse("common/footer.html")
