#parse("common/header.html")
<div class="container-wrap">
    <div class="reportUserWindow" style="display:none;font-size: 14px">
        <div class="layui-form" id="new_question">
            <div class="layui-form-item" >
                <div class="layui-input-block" style="padding-top:20px;margin-left: 20px;margin-right: 20px">
                    <label class="layui-form-label" style="padding: 0 0;text-align: left">举报对象</label>
                    <input hidden name="reportUserId" autocomplete="off" value="$!{data.user.id}">
                    <input type="text" name="user_name" value="用户： $!{data.user.name}" autocomplete="off"
                           class="layui-input layui-disabled" disabled style="color: black">
                </div>
            </div>

            <div class="layui-form-item layui-form-text" >
                <div class="layui-input-block" style="margin-left: 20px;margin-right: 20px">
                    <textarea name="report_reason" placeholder="举报理由，必填" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block pull-right" style="margin-left: 20px;margin-right: 20px">
                    <button class="layui-btn js-submitReportUser"style="margin-right:20px">立即提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contar-wrap">
            <div class="item">
                <div class="fly-home fly-panel" style="padding: 0px 0px 30px">
                    #if($data.myProfile!="1")
                    <span class=" pull-right">
                        <i class="js-optionMenus layui-icon layui-icon-more-vertical pull-right" style="font-size: 20px"></i>
                        <div class="js-optionsBtn pull-right" style="display: none">
                            <button class="layui-btn layui-btn-sm js-report-user" data-user-id="$!{data.user.id}">举报用户</button>
                        </div>
                    </span>
                    #end

                    <div class="avatar-add" style="padding-top: 30px">
                        <img src="$!{data.user.headUrl}" alt="$!{data.user.name}">
                        <input hidden name="current_page_user" value="$!{data.user.id}">
                    </div>
                    <h1>
                        $!{data.user.name}
                        <i class="iconfont icon-nan"></i>
                    </h1>
                    <div class="fly-sns" data-userid="$!{user.id}">
                        #if($data.myProfile=="1")
                        <button type="button" class="layui-btn" id="upload_head">
                            <i class="layui-icon">&#xe67c;</i>修改头像
                        </button>
                        <a href="/follow/$!{data.user.id}" class="layui-btn layui-btn-primary fly-imActive" data-type="addFriend">粉丝$!{data.followerCnt}</a>
                        <a href="/follow/$!{data.user.id}" class="layui-btn layui-btn-primary fly-imActive" data-type="chat">关注$!{data.followeeCnt}</a>
                        #else
                            <span class="js-replacebtn">
                                #if($data.isFollower=="1")
                                <a href="javascript:;" class="layui-btn layui-btn-primary js-cancel-follow fly-imActive">取消关注</a>
                                #else
                                <a href="javascript:;" class="layui-btn layui-btn-primary js-follow fly-imActive">关注</a>
                                #end
                            </span>

                        <a href="/sendMsgTo/$!{data.user.id}" class="layui-btn layui-btn-primary fly-imActive" data-type="chat">发起会话</a>
                        <a href="/follow/$!{data.user.id}" class="layui-btn layui-btn-primary fly-imActive" >Ta的粉丝$!{data.followerCnt}</a>
                        <a href="/follow/$!{data.user.id}" class="layui-btn layui-btn-primary fly-imActive" >Ta的关注$!{data.followerCnt}</a>
                        #end
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="">
                    <div class="layui-row layui-col-space15 layui-tab" >
                        <ul class="layui-tab-title">
                            <li class="layui-this">最近的提问</li>
                            <li >最近的回答</li>

                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show tab1">
                                    <ul class="jie-row" id="new-question-list">
                                        <!--<li>-->
                                            <!--<span class="fly-jing">精</span>-->
                                            <!--<a href="" class="jie-title"> 基于 layui 的极简社区页面模版</a>-->
                                            <!--<i>刚刚</i>-->
                                            <!--<em class="layui-hide-xs">1136阅/27答</em>-->
                                        <!--</li>-->
                                        <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div> -->
                                    </ul>
                                <div id="page-pro-ques"></div>
                            </div>

                            <div class="layui-tab-item  tab2">

                                <ul class="jie-row" id="new-answer-list">
                                    <!--<li>-->
                                        <!--<span class="fly-jing">精</span>-->
                                        <!--<a href="" class="jie-title"> 基于 layui 的极简社区页面模版</a>-->
                                        <!--<i>刚刚</i>-->
                                        <!--<em class="layui-hide-xs">1136阅/27答</em>-->
                                    <!--</li>-->
                                    <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div> -->
                                </ul>
                                <div id="page-pro-ans"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: '../js/'
    }).use('profile');
</script>
#parse("common/footer.html")
