<div class="layui-form-item">
    <input type="hidden" name="next" value="$!{next}"/>
    <div class="layui-inline iphone">
        <div class="layui-input-inline">
            <i class="layui-icon layui-icon-username iphone-icon"></i>
            <input type="username" name="username" id="username" lay-verify="required" placeholder="请输入登录名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline iphone">
        <div class="layui-input-inline">
            <i class="layui-icon layui-icon-password iphone-icon"></i>
            <input id="pswd" type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline iphone">
        <div class="layui-input-inline">
            <div id="slider_log"></div>
        </div>
    </div>
</div>