#parse("common/header.html")
<div class="container-wrap">
    <div class="container" style="width:1000px">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
            <li class="layui-nav-item">
                <a href="/user/$!{user.id}">
                    <i class="layui-icon">&#xe609;</i>
                    我的主页
                </a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="/history">
                    <i class="layui-icon">&#xe705;</i>
                    浏览历史
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="/followQuestion/list">
                    <i class="layui-icon">&#xe658;</i>
                    收藏列表
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="/msg/list">
                    <i class="layui-icon">&#xe611;</i>
                    我的消息
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="/setting">
                    <i class="layui-icon">&#xe620;</i>
                    基本设置
                </a>
            </li>
        </ul>
        <div class="msg-panel msg-panel-user history" pad20="">
            <div class="item">
                <input name="totals" hidden value="$!{browseTotals}">
                <div>
                    <h3 >浏览问题历史/浏览时间</h3>
                </div>

                <ul class="jie-row" id="history-question-list">
                    <!--<li >-->
                        <!--<a href="/question/442" class="jie-title">-->
                            <!--&lt;script type="text/javascript" src="../js/admin/login.js"&gt;&lt;/script&gt;-->
                        <!--</a>-->
                    <!--<i class="pull-right">2019-04-14 18:15:25</i>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/question/441" class="jie-title"> hello</a>-->
                        <!--<i class="pull-right">2019-04-14 18:13:12</i>-->
                    <!--</li>-->
                </ul>
                <div id="his-page"></div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.config({
        base: '../js/'
    }).use('browserHistory');
</script>
#parse("common/footer.html")