#parse("header.html")
<div class="content question-main">
    <div class="content-inner">
        <div class="question-title">
            最近二十几年，自然科学领域有哪些常识或理论得到了修正？
        </div>
        <div class="question-detail">
            之前看到了一个关于常识的问答，发现我们这一代年轻人很多小时候接受的常识现在都发生了变化，但我们还是固守己见，这样其实在某一方面与最新的世界脱节了，保不齐还与小朋友之间有了认识上的代沟。 出于好奇，我提出了这个问题，为了反映一代人的变化，我用了限定词「最近二十几年」。 这些被修正的理论或常识有： 珠穆朗玛峰的官方高度被修正为 8844 米，我国基础教育中最小自然数改成了 0，「九大行星」被修正为「八大行星」，等等。

        </div>
        <button class="btn-info follow-btn js-follow">关注问题</button>
    </div>
</div>
</div>
</div>
</div>
<!--#parse("footer.html")-->
<link rel="stylesheet" href="/styles/question_detail.css">
<link rel="stylesheet" href="/styles/common.css">
<script type="text/javascript" src="/scripts/main/component/questionDetail.js"></script>
</html>