        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="info-list">
            <span>
                关于我-zhuangw
            </span>
        <span>
                联系我-qq:905380097
            </span>
        <div onclick=Top()>
            <label>回到顶部</label>
        </div>
    </div>
</div>
</body>
<script>
    function Top() {
        $(window).scrollTop(0);
    }
</script>
<script type="text/javascript" src="/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/scripts/main/component/base.js"></script>
<!--<script type="text/javascript" src="/scripts/main/base/util.js"></script>-->
<!--<script type="text/javascript" src="/scripts/main/base/event.js"></script>-->
<!--<script type="text/javascript" src="/scripts/main/component/component.js"></script>-->
<!--<script type="text/javascript" src="/scripts/main/component/popup.js"></script>-->

<!--<script type="text/javascript" src="/scripts/main/component/popupMsg.js"></script>-->
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
</html>