<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="depend/bootstrap.min.css">
    <script src="depend/jquery-3.3.1.min.js"></script>
    <script src="depend/bootstrap.min.js"></script>
    <title>首页-问答</title>
</head>
<body>
