#set($pageTitle="热门榜")
#parse("common/header.html")
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">热榜</li>
                    <!--<li >最新问题 </li>-->

                </ul>
                <div class="layui-tab-content hot-content">
                    <div class="layui-tab-item layui-show tab1">
                        <div class="Topstory-hot HotList">
                            #set($rank=1)
                            #foreach($vo in $hot_ques)
                            <section class="HotItem item">
                                <div class="HotItem-index">
                                    <div class="HotItem-rank HotItem-hot">$rank</div>
                                    #set($rank=$rank+1)
                                </div>
                                <div class="HotItem-content">
                                    <a href="/question/$!{vo.question.id}" title="$!{vo.question.title}" target="_blank" rel="noopener noreferrer">
                                        <h2 class="HotItem-title">
                                            $!{vo.question.title}
                                        </h2>
                                        <p class="HotItem-excerpt">$!{vo.question.content}</p>
                                        </a>
                                    <div class="HotItem-metrics HotItem-metrics--bottom">
                                        <i class="layui-icon layui-icon-fire"></i>
                                        $!{vo.browseNum}热度
                                        <!--<span class="HotItem-action"></span>-->
                                    </div>
                                </div>
                            </section>
                            #end
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    layui.config({
        base: '../js/'
    }).use('hot_top');
</script>
#parse("common/footer.html")