#parse("header.html")

			<ul class="nav nav-tabs">
				<li class="active">
					 <a href="#">推荐</a>
				</li>
				<li>
					 <a href="#">关注</a>
				</li>
				<li >
					 <a href="#">热榜</a>
				</li>
			</ul>
			<hr>
			<div class="content">
				<div class="zu-main-feed-con " data-feedtype="topstory" id="question-list" data-widget="navigable">
					<a href="javascript:;" class="zu-main-feed-fresh-button" id="zh-main-feed-fresh-button" style="display:none"></a>
					<!--<div id="js-home-feed-list" class="zh-general-list topstory clearfix"></div>-->
					<div class="container">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<div class="avatar">
									<a title="title1" data-tip="p$t$amuro1230" class="zm-item-link-avatar" target="_blank" href="https://nowcoder.com/people/amuro1230">
										<img src="http://images.nowcoder.com/head/2t.png" class="Avatar"></a>
								</div>
								<h2>
									Heading
								</h2>
								<p>
									Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
								</p>
								<p>
									<a class="btn" href="#">View details »</a>
								</p>
							</div>
						</div>
					</div>
					<a href="javascript:;" id="zh-load-more" data-method="next" class="btn btn-block btn-info" style="">更多</a>
				</div>
			</div>
#parse("footer.html")