#parse("header.html")
<div class="content question-main">
    <div class="content-inner">
        <div class="question-title">
            最近二十几年，自然科学领域有哪些常识或理论得到了修正？
        </div>
        <div class="question-detail">
            之前看到了一个关于常识的问答，发现我们这一代年轻人很多小时候接受的常识现在都发生了变化，但我们还是固守己见，这样其实在某一方面与最新的世界脱节了，保不齐还与小朋友之间有了认识上的代沟。 出于好奇，我提出了这个问题，为了反映一代人的变化，我用了限定词「最近二十几年」。 这些被修正的理论或常识有： 珠穆朗玛峰的官方高度被修正为 8844 米，我国基础教育中最小自然数改成了 0，「九大行星」被修正为「八大行星」，等等。

        </div>
        <div class="side-section">
            <div class="side-section-inner">
                <button class="btn btn-default  js-follow">关注问题</button>
                <div class="question-follers">
                    <div class="gray-normal">
                        <a href>
                            <strong>9</strong>
                        </a>人关注了该问题
                    </div>
                    <div class="list small-avatar-list">
                        <a  data-original_title="奕奕">
                            <img src="http://images.nowcoder.com/head/376t.png" class="follow-avatar"></a>
                        <a  data-original_title="奕奕">
                            <img src="http://images.nowcoder.com/head/376t.png" class="follow-avatar"></a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        </div>
        <div class="question-answer-wrap">
            <div class="item-answer" data-answer-id=1>
                <div class="votebar"><!--赞同和反对按钮，赞同数-->
                    <div class="zm-votebar js-vote" data-id="4">
                        <button class="up js-like" title="赞同">
                            <i class="icon vote-arrow" aria-pressed="false"></i>
                            <span class="count js-voteCount">0</span>
                            <!--<span class="label sr-only">赞同</span>-->
                        </button>

                        <button class="down js-dislike" title="反对">
                            <i class="icon vote-arrow" aria-pressed="false"></i>
                            <!--<span class="label sr-only">反对，不会显示你的姓名</span>-->
                        </button>
                    </div>
                </div>
                <div class="answer-head"><!--名字 头像 赞同数-->
                    <div class="answer-author-info">
                        <a class="avatar_link">
                            <img src="http://images.nowcoder.com/head/376t.png" class="follow-avatar"></a>
                        </a>
                        <a class="" href="/">
                            应晓刀
                        </a>
                        <span title="爱生活" class="intro">
                            爱生活
                        </span>
                    </div>
                </div>
                <div class="answer-text"><!--正文-->

                </div>
                <div class="answer-actions"><!--发表于  评论数-->

                </div>
            </div>
            <div class=""></div>
            <div class=""></div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!--#parse("footer.html")-->
<link rel="stylesheet" href="/styles/question_detail.css">
<link rel="stylesheet" href="/styles/common.css">
<script type="text/javascript" src="/scripts/main/component/questionDetail.js"></script>
</html>