#parse("common/header.html")
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <div class="item "  data-question-id="$!{question.id}">
                <input type="hidden" name="questionId" value="$!{question.id}">
                <div class="item-box  layer-photos-demo1 layer-photos-demo">
                    <h3><a href="/question/$!{question.id}">$!{question.title}</a></h3>
                    <p><button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">关注问题</button></p>
                    <p>
                        <span class="js-follow-cnt" style="color: #01AAED">9</span>人关注了问题
                        <div class="follow-list">
                            <a href="/user/123">
                                <img src="http://images.nowcoder.com/head/390t.png" class="layui-nav-img" style="border-radius: unset">
                            </a>
                            <a href="/user/223">
                                <img src="http://images.nowcoder.com/head/390t.png" class="layui-nav-img" style="border-radius: unset">
                            </a>
                        </div>
                    </p>
                    <p>$!{question.content}</p>
                    <!--<img src="../res/static/images/item.png" alt="" layer-index="0">-->
                    <div class="count layui-clear">
                        <span class="pull-left">阅读
                            0<!--<em>100000+</em>-->
                        </span>
                        <!--<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>-->
                    </div>
                </div>
            </div>
            <h5 style="text-align: center" >
                <span >本问题共有<a class="js-comment-count">$!{commentCount}</a> 个回答</span>
            </h5>
            <div class="answers-list">
                #foreach($item in $comments)
                <div class="item" >
                    <div class="item-box  layer-photos-demo1 layer-photos-demo">

                        <div class="ans_author_info" >
                            <div class="author_head pull-right">
                                <a href="/user/$!{item.user.id}">
                                    <img src="$!{item.user.headUrl}" class="author-head-img">
                                </a>
                            </div>
                            <span class="author_info">
                            <a href="/user/$!{item.user.id}">$!{item.user.name}</a>
                        </span>
                            <h5 class="answer_date p">回答于：<span>$date.format('yyyy-MM-dd HH:mm:ss', $!{item.comment.createdDate})</span></h5>
                        </div>

                        <p class="answer-content">$!{item.comment.content}</p>
                    </div>
                    <div class="comment count" data-comment-id="$!{item.comment.id}">
                        <!--<a href="/question/{}">评论$!{vo.commentMap.commentCount}</a>-->
                        #if($item.liked> 0)
                        <a href="javascript:;" class="like layblog-this">
                        #else
                        <a href="javascript:;" class="like ">
                        #end
                            <i class="layui-icon layui-icon-praise"></i>
                            <span class="js-likecount">$!{item.likeCount}</span>
                        </a>
                        #if($item.liked< 0)
                        <a href="javascript:;" class="dislike layblog-this">
                        #else
                        <a href="javascript:;" class="dislike ">
                        #end
                            <i class="layui-icon layui-icon-tread"></i>
                        </a>
                    </div>
                </div>
                #end
            </div>
            <div class="detail_page" style="display: inline" id="detail_page"></div>
            <div class="item-btn">

            </div>
            #if(!$user)
            <label style="color: gray">登陆后方可发布回答。<a href="/reg">去注册</a>/<a href="/login">登录</a></label>
            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <textarea class="layui-textarea" id="ans-content"disabled="disabled" placeholder="未登录无法回答"
                              readonly style="resize:none" ></textarea>
                </div>
            </form>
            <div class="item-btn" style="text-align: right">
                <button class="layui-btn layui-btn-normal" id="item-btn" disabled>提交</button>
            </div>
            #else
            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <textarea class="layui-textarea" id="ans-content" style="resize:none" placeholder="分享你的回答"></textarea>
                </div>
            </form>
            <div class="item-btn" style="text-align: right">
                <button class="layui-btn layui-btn-normal" id="item-btn">提交</button>
            </div>
            #end
        </div>

    </div>
</div>
<script>
    layui.config({
        base: '../js/'
    }).use('question_detail');
</script>
#parse("common/footer.html")