<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="static/depend/bootstrap.min.css">
    <script src="static/depend/jquery-3.3.1.min.js"></script>
    <script src="static/depend/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/style/common.css">
    <title>首页-问答</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">问答</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li >
                            <a href="/">首页</a>
                        </li>
                        <li>
                            <a href="#">发现</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">

    <div class="clearfix center-block">
        <div class="row pull-left"  >
            <!--注意scr路径-->
            <a href="/"><img class="center-block" alt="" src="static/img/yousay.png"></a>
        </div>

        <div class="col-md-6 column">
            <!--<img class="center-block" alt="" src="static/img/lg.png" height="200" width="200">-->
            <h4>与世界分享你的知识</h4>
            <form role="form" action="/reg/" id="regloginform" method="post">
                <div class="form-group" display：block;margin：0 auto;>
                    <label >用户名</label><input type="username" class="form-control" name="username" />
                </div>
                <div class="form-group" display：block;margin：0 auto;>
                    <label >密码</label><input type="password" class="form-control" name="password" />
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" name="remember" checked="" value="true"/>记住我</label>
                </div>
                <button type="submit" class="btn btn-info btn-default "
                        onclick="form=document.getElementById('regloginform');form.action='/login/'">登录</button>
                <button type="submit" class="btn btn-info btn-default "
                        onclick="form=document.getElementById('regloginform');form.action='/reg/'">注册</button>
            </form>
        </div>
    </div>
</div>
#parse("footer.html")
