/*推送来源*/
.feed-source,.feed-source a {
    color: #999
}
/*精灵图z-icon*/
i[class^=z-icon-],i[class*=" z-icon-"] {
    display:inline-block;
    *margin-right:.3em;
    line-height:10px;
    vertical-align:0;
    /*注意引用路径*/
    background-image:url(../images/img/sprites.png);
    background-repeat:no-repeat;
    margin-right:5px
}
.z-icon-x {
    width:8px;
    height:8px;
    background-position:-130px -206px
}
.z-icon-x:hover {
    background-position:-110px -206px
}
.z-icon-comment {
    width:9px;
    height:10px;
    background-position:-28px -22px
}
.z-icon-collect {
    width:7px;
    height:10px;
    background-position:-56px -22px
}
.z-icon-thank {
    width:10px;
    height:10px;
    background-position:-41px -22px
}
.z-icon-share {
    width:11px;
    height:10px;
    background-position:-67px -22px
}
.z-icon-report-o {
    width:10px;
    height:10px;
    background-position:-82px -22px
}
.z-icon-follow {
    width:8px;
    height:9px;
    background-position:-97px -23px
}
.z-icon-fold {
    width:8px;
    height:9px;
    background-position:-135px -22px
}
a {
    color: #333;
}

a {
    text-decoration: none;
}
.item-title {
    font-size: 15px
}
body,ul,ol,li,p,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0
}
/*右上角头像图片*/
.Avatar {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #eee
}
/*首页回答头像*/
.suggest-item-inner .zm-item-link-avatar img {
    width: 35px;
    position: absolute
}

.zu-main-feed-con {
    position: relative;
    border-top: 1px solid #ccc
}
.feed-main{
    margin-left: 48px;
    position: relative;
}
.feed-content{
    margin-top: 0
}
.feed-list{
    margin-left: 0;
    float: none
}
.feed-item{
    padding: 10px 0;
    position: relative;
    margin-left: 0;
    outline: 0;
    border-top: 1px solid #eee
}
.avatar{
    display: block;
    width: 38px;
    height: 38px
}
.item-link-avatar img{
    width: 35px;
    position: absolute
}
.item-img-avatar{
    width: inherit;
    height: inherit
}
.feed-item-answer-author-info {
    margin: 0 0 1px
}
.item-left{
    float: left;
    height: 40px;
}
.item-main{
    position: relative;
    margin-left:48px

}
.info-list{
    text-align: center;
}
.item-vote-cnt{
    display:block;
    color:#25bb9b;
    background: #eff6fa;
    height:24px;
    width:38px;
}
.question_link{
    /*color: #25bb9b;*/
    font-size: 15px;
    font-weight: bold;
}
.author-link{
    font-weight: bold;
    font-size: small;
}
.item-question-content{
    margin: 0 0 1px;
    font-size: 16px;
    line-height:25px;
}
.item-author-info{
    font-size:14px;
}

.answer-summary{
    font-size: 14px;
}
.container{
    /*设置网页整体宽度*/
    width: 1000px;
}