#main{
    margin: 20px auto;
}
.zu-main{
    min-height: 340px;
    position: relative;
    z-index: 2;
    width: 960px;
    margin: 0 auto;
    clear: both;
}
.letter-list{
    margin: -10px -20px 0;
}
.letter-list li{
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 10px;
    overflow: hidden;
    margin: 0 10px;
    position: relative
}
.letter-info{
    float: right;
    text-align: right;
    color: #999;
    font-size: 12px;
}
.chat-headbox{
    position: relative;
    float: left;
    z-index: 2;
}
.letter-time{
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 2;
    white-space: nowrap;
    font-size: 12px;
}
.letter-brief{
    position: absolute;
    left: 80px;
    top: 50px;
    z-index: 2;
    color: #666;
    float: left;
    font-size: 14px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.letter-detail{
    float: left;
    font-size: 14px;
    line-height: 1em;
    width: 320px;
}
.msg-num{
    position: absolute;
    top: 0;
    left: 0;
    background: #e84a4a;
    color: #FFF;
    border-radius: 50px;
    line-height: 16px;
    min-height: 16px;
    outline: medium none;
    padding: 0 4px;
    text-align: center;
    z-index: 10;
}
.list-head{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #ededed;
    border-radius: 50px;
}
.letter-name {
    position: absolute;
    left: 80px;
    top: 20px;
    z-index: 2;
    color: #CCC;
    display: inline-block;
}
.operate-bar{
    white-space: nowrap;
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 12px;
    z-index: 2;
}
.msg-list-header{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    position: relative;
}
